{% if include.page.media %}
  {% assign file_extension = include.page.media | split: '.' | last | downcase %}
  {% assign image_formats = 'jpg,jpeg,png,gif,webp,svg,bmp,tiff' | split: ',' %}
  {% assign video_formats = 'mp4,webm,ogg,avi,mov,wmv,flv,mkv' | split: ',' %}
  
  {% if image_formats contains file_extension %}
    <img src="{{ site.env.AWS_S3_ASSETS_PATH }}/posts/{{ include.page.slug }}/{{include.page.media}}" />
  {% elsif video_formats contains file_extension %}
    <video autoplay muted playsinline loop>
      <source src="{{ site.env.AWS_S3_ASSETS_PATH }}/posts/{{ include.page.slug }}/{{include.page.media}}">
      Your browser does not support the video tag.
    </video>
  {% endif %}
{% endif %}